<div class="card-champ text-center granted" *ngIf="champion.chestGranted">
    <img src="{{champion.championImage}}"
         alt="{{champion.championName}}" class="champ champChest">
    <!--          <img alt="logo" class="front" src="../../../../assets/images/chest.png">-->
    <div class="info">
      <h6>{{champion.championName}}</h6>
    </div>
  </div>
  <div class="card-champ text-center" *ngIf="!champion.chestGranted">
    <img src="{{champion.championImage}}"
         alt="{{champion.championName}}" class="champ champwithoutChest">
    <div class="info">
      <h6>{{champion.championName}}</h6>
    </div>
  </div>