<div class="card-champ text-center granted" *ngIf="champion.chestGranted">
  <img src="{{champion.championImage}}"
       alt="{{champion.championName}}" class="champ champChest">
  <div class="info">
    <h6>{{champion.championName}}</h6>
    <p *ngIf="participant">{{participant.summonerName}}</p>
  </div>
</div>
<div class="card-champ text-center" *ngIf="!champion.chestGranted">
  <img src="{{champion.championImage}}"
       alt="{{champion.championName}}" class="champ champwithoutChest">
  <div class="info">
    <h6>{{champion.championName}}</h6>
    <p *ngIf="participant">{{participant.summonerName}}</p>
  </div>
</div>
