/* You can add global styles to this file, and also import other style files */
body{
  background: rgb(0,1,5);
  min-height: 100vh;
  color: white;
}
h1{
  color: darkgray;
  font-family: 'Cinzel', serif;
}
